$color-1: rgb(253,162,20);
$color-2: rgb(188,206,217);
$color-3: rgb(48,72,89);

$color-4: rgb(252,252,252);
$color-5: rgb(21,41,56);

$color-6: rgb(242,242,242);
$color-7: rgb(113,145,165);
$color-8: rgb(99,149,184);